.collection-main {
	list-style-type:none;
}
#input1 {
	border:1px solid #ccc;
	border-radius: 0px;
	
}
.my_button {
	background: -moz-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
	background: -webkit-gradient(linear, left top, right top, from(#2F2727), color-stop(0.25, #1a82f7), color-stop(0.5, #2F2727), color-stop(0.75, #1a82f7), to(#2F2727));
	color:#fff;
	height:40px;
	width: 100px;
	text-align: center;
	border-radius: 20px;
	border: 0px solid;
	
}